<!-- Begin Footer Area -->
<div class="footer-area">
    <div class="footer-top section-space-y-axis-100 text-black" data-bg-color="#e5ddcc">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="widget-item">
                        <div class="footer-logo pb-4">
                            <a href="index.html">
                                <img src="~/assets/images/logo/dark.png" alt="Logo">
                            </a>
                        </div>
                        <p class="short-desc mb-2">
                            <b style="font-size:20px">TreeShop luôn lắng nghe bạn! <br></b> Chúng tôi luôn trân
                            trọng và mong đợi được đón nhận những lời đóng góp từ mỗi khách
                            hàng thân yêu và luôn luôn cải tiến mang đến sự tiện lợi cho mọi nhà. </p>
                        <div class="widget-contact-info pb-6">
                            <ul>
                                <li>
                                    <i class="pe-7s-map-marker"></i>
                                    Trụ sở chính: 203 Nguyễn Trãi, Phường Nguyễn Cư Trinh, Quận 1, TP.HCM
                                </li>
                                <li>
                                    <i class="pe-7s-mail"></i>
                                    <a href="nhothach0967611550@gmail.com">nhothach0967611550@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-6 pt-10 pt-lg-0">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5">Dịch vụ khách hàng</h3>
                        <ul class="widget-list-item">
                            <li>
                                <a href="javascript:void(0)">Hỏi đáp - FAQs</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Chính sách đổi trả</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Chính sách khuyến mãi</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Chính sách giao hàng</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Liên hệ</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-6 pt-10 pt-lg-0">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5">Danh sách chuỗi cửa hàng</h3>
                        <ul class="widget-list-item">
                            <li>
                                <a href="javascript:void(0)">CN1: 203 Nguyễn Trãi, Phường Nguyễn Cư Trinh, Quận 1, TP.HCM</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">CN2: 203 Nguyễn Trãi, Phường Nguyễn Cư Trinh, Quận 1, TP.HCM</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">CN3: 203 Nguyễn Trãi, Phường Nguyễn Cư Trinh, Quận 1, TP.HCM</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-6 pt-10 pt-lg-0">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5">Khám phá TreeShop</h3>
                        <ul class="widget-list-item">
                            <li>
                                <a href="javascript:void(0)">Áo Polo</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Áo T-shirt</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Quần jean</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Quần short</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Tất(vớ)</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Mũ(nón)</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Phụ kiện khác</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-bottom py-3" data-bg-color="#bac34e">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright">
                        <span class="copyright-text text-white">© 2021 Harmic Made with <i class="fa fa-heart text-danger"></i> by  <a href="https://hasthemes.com/" target="_blank">HasThemes</a> </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer Area End Here -->